@font-face
{
    font-family: myFirstFont;
    src: url('../font/Neou-Thin.ttf')
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li,
fieldset, form, label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #9BD7D5;
}

#table_container {
    float: right;
}

#image_container {
    float: left;
}

#body_container , #image_menu{
    clear: both;
}

#image_menu {
    padding-top: 5px;
}

.main_menu_list {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 3px;
    float: left;
    cursor: pointer;
    color: grey;
    font-family: myFirstFont;
}

#login_page {
    display: none;
}